body {
    margin: 0px;
    font-family: Inter;
    background-color: #F6EED9;
    color: #463337;
}


/* INÍCIO DA HEADER/NAVBAR */
.header {
    background-color: #EEDEAE;
    height: 10vh;
    display: flex;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 0px 40px 0px 40px;
    /*top right bottom left*/
}

.title {
    font-family: JetBrains Mono;
    font-size: 32px;
    color: #463337;
}

.title:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title a{
    font-family: JetBrains Mono;
    font-size: 32px;
    color: #463337;
    text-decoration: none;
}

/* HAMBURGUER MENU */
.title img {
    width: 30px;
    height: 25px;
}

.fundo {
    background-color: #294EA7;
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 15vw;
    z-index: 10;
    position: absolute;
}

.listaConteudo li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #F6EED9;
    font-size: 20px;
}

/* INÍCIO DA TELA*/
.tela{
    background: #204187;
    background: linear-gradient(180deg, rgba(32, 65, 135, 1) 0%, rgba(41, 78, 167, 1) 31%, rgba(77, 146, 214, 1) 95%);
    width: 99vw;
    height: 160vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 40px;
}

.containertela {
    width: 90vw;
}

.tela1 {
    /* background-color: cadetblue; */
    height: 130vh;
    width: 100%;
}

.tela1 span {
    font-family: JetBrains Mono;
    font-size: 26px;
    color: #F6EED9;
}

.graficos {
    height: 50%;
    width: 100%;
    margin-top: 40px;
    /* background-color: aqua; */
    display: flex;
    justify-content: space-between;
}

.graficos span {
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    height: 5%;
    color: #294EA7;
    margin-top: 10px;
}

.graficos .spanMarrom {
    font-family: Inter;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
    height: 15%;
    color: #51383D;
}

.graf1 {
    background-color: #F6EED9;
    height: 100%;
    width: 30%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.grafico1 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 90%;
    height: 85%;
    display: flex;
    justify-content: center;
}

.graf2 {
    background-color: #EEDEAE;
    height: 100%;
    width: 45%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.grafico2 {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-bottom: 20px;
    width: 90%;
    height: 60%;
    display: flex;
    justify-content: center;
}

.kpiContainer {
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.kpi1 {
    background-color: #F6EED9;
    height: 45%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.kpi1 span {
    color: #294EA7;
}

.kpi2 {
    background-color: #EEDEAE;
    height: 45%;
    width: 100%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.kpi2 span {
    color: #51383D;
}

.kpi1 .ano {
    font-size: 50px;
    height: 80%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.kpi2 .ano {
    font-size: 50px;
    height: 80%;
    font-weight: bold;
    display: flex;
    align-items: center;
}

/* INÍCIO TELA2 */
.tela2 {
    height: 70vh;
    /* background-color: brown; */
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
}

.kpiArtistas {
    width: 37%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.artistaMais {
    width: 100%;
    height: 47%;
    background-color: #20418f; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.artistaMenos {
    width: 100%;
    height: 47%;
    background-color: #463337; 
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
}

.legenda {
    width: 50%;
    /* background-color: darkgreen; */
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
}

.legenda span {
    color: #F6EED9;
    font-family: Inter;
    font-size: 24px;
}

.nome span {
    font-family: JetBrains Mono;
    font-size: 27px;
}

.foto {
    width: 50%;
}

.artistaFoto {
    width: 100%;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

/* INÍCIO TABELAS */
.tabelaHistorico {
    width: 60%;
    height: 90%;
    /* background-color: blueviolet; */
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
}

thead {
    height: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    /* background-color: #81B1E1; */
}

tbody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    text-align: center;
    width: 100%;
    /* background-color: chocolate; */
}

th {
    width: 250px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #EEDEAE;
    letter-spacing: 2px;
}

tr {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 10px 0px;
}

td {
    width: 250px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.genero {
    font-family: JetBrains Mono;
    font-size: 28px;
}

.trContainer1 {
    background-color: #F6EED9;
    margin-bottom: 20px;
    border-radius: 10px;
}

.trContainer2 {
    background-color: #EEDEAE;
    margin-bottom: 20px;
    border-radius: 10px;
}

.trContainer3 {
    background-color: #81B1E1;
    margin-bottom: 20px;
    border-radius: 10px;
}

.trContainer4 {
    background-color: #294EA7;
    border-radius: 10px;
    color: #F6EED9;
}

