body {
    margin: 0px;
    font-family: Inter;
    background-color: #F6EED9;
}


/* INÍCIO DA HEADER/NAVBAR */
.header {
    background-color: #EEDEAE;
    height: 10vh;
    display: flex;
    align-items: center;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 50px;
    padding: 0px 40px 0px 40px;
    /*top right bottom left*/
}

.title {
    font-family: JetBrains Mono;
    font-size: 32px;
    color: #463337;
}

.title:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.title a{
    font-family: JetBrains Mono;
    font-size: 32px;
    color: #463337;
    text-decoration: none;
}

/* INÍCIO TELA DE LOGIN*/
.tela1 {
    background-color: #294EA7;
    width: 100vw;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    background-color: #F6EED9;
    height: 70vh;
    width: 35vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bemvindo {
    font-size: 32px;
    font-weight: 500;
    font-family: JetBrains Mono;
    color: #381C22;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20%;
}

.resto {
    height: 70%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input {
    color: #381C22;
    font-size: 22px;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input {
    background-color: #DED6C2;
    border-color: #DED6C2;
    border-style: solid;
    border-radius: 10px;
    width: 95%;
    padding: 15px 0px 10px 10px;
    font-family: Inter;
    font-size: 20px;
}

input::placeholder {
    color: #381C22;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

input:focus {
    outline: none;
}

.containerButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 30%;
}

.buttonLogin {
    background-color: #294EA7;
    height: 45%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    font-family: JetBrains Mono;
    font-size: 20px;
    color: #F6EED9;
}


.buttonLogin:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.registro span {
    cursor: pointer;
}

a {
    color: #463337;
    text-decoration: none;
}